.text {
  /* font-size: 1.4rem; */
  margin-bottom: 1rem;
}
.button {
  margin-bottom: 0.5rem;
  display: inline-block;
  background: dodgerblue;
  color: white;
  font-size: 0.8rem;
  padding: 0.4rem 0.9rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.status {
  display: flex;
  align-items: center;
  font-family: monospace;
  line-height: 1;
  font-size: 14px;
}
.default {
  color: gray;
}
.limit {
  color: orangered;
}
.ok {
  color: limegreen;
}
.loading {
  display: inline-block;
  width: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, gray 94%,#0000) top/1px 1px no-repeat, conic-gradient(#0000 30%, gray);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 1px), #000 0);
  animation: load 1s infinite linear;
}
@keyframes load {
  100% { transform: rotate(1turn) }
}
