.text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.button {
  margin-bottom: 0.5rem;
  display: inline-block;
  background: dodgerblue;
  color: white;
  font-size: 0.8rem;
  padding: 0.4rem 0.9rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.limit {
  color: orangered;
}
