@layer reset, base, theme, layout, page, component;

@layer reset {
  *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
  }
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
  }
  ol, ul, menu, summary {
    list-style: none;
    list-style-position: inside;
  }
  img {
    max-inline-size: 100%;
    max-block-size: 100%;
  }
  textarea {
    white-space: revert;
  }
  meter {
    -webkit-appearance: revert;
    appearance: revert;
  }
  :where(pre) {
    all: revert;
  }
  ::placeholder {
    color: unset;
  }
  ::marker {
    content: initial;
  }
  :where([hidden]) {
    display: none;
  }
  :where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
  }
  :where([draggable="true"]) {
    -webkit-user-drag: element;
  }
  :where(dialog:modal) {
    all: revert;
  }
}

@layer base {
  :lang(en) {
    quotes: '\201C' '\201D' '\2018' '\2019';
  }
  :lang(ja) {
    quotes: '「' '」' '『' '』';
  }

  html {
    scroll-behavior: smooth;
    font-family: system-ui, sans-serif;
    &:has(dialog[open]) {
      touch-action: none;
      -webkit-overflow-scrolling: auto;
      overflow: hidden;
      overscroll-behavior: none;
    }
  }

  body {
    position: relative;
    min-block-size: 100svb;
    font-feature-settings: "pkna" 1;
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }
  img, svg, video {
    height: auto;
    vertical-align: bottom;
  }
  a, button, summary {
    touch-action: manipulation;
    cursor: pointer;
  }
  summary {
    &::-webkit-details-marker {
      display: none;
    }
  }

  a, button, summary, input, textarea, select {
    &:focus-visible {
      outline: auto;
      outline-style: auto;
      outline-offset: -1px;
    }
  }
  a {
    &:focus-visible:has(img) {
      outline: auto;
      outline-style: auto;
      outline-offset: -1px;
    }
  }
  pre {
    &:focus-visible {
      outline: auto;
      outline-style: auto;
      outline-offset: -1px;
    }
  }

}
